<div class="container-fluid">
    <div class="row g-1">
        <div class="col-2">
            <div class="p-3 border bg-light" class="text-left" >
                <a href="#"><img src="https://store.akamai.steamstatic.com/public/images//gift/steamcards_promo_02.png" width="210" height="116"></a>
                <h6>
                    GIFT CARDS
                </h6>
                <ul>
                    <a href="#">Now Available on Steam</a>
                </ul>

                <h6>
                    RECOMMENED
                </h6>
                <ul>
                    <a href="#">By Friends</a>
                </ul>
                <ul>
                    <a href="#">By Curators</a>
                </ul>
                <ul>
                    <a href="#">Tags</a>
                </ul>

                <h6>
                   DISCOVERY QUEUES
                </h6>
                <ul>
                    <a href="#">Recommendations</a>
                </ul>
                <ul>
                    <a href="#">New Releases</a>
                </ul>

                <h6>
                    BROWSE CATEGORIES
                </h6>
                <ul>
                    <a href="#">Top Sellers</a>
                </ul>
                <ul>
                    <a href="#">New Releases</a>
                </ul>
                <ul>
                    <a href="#">Upcoming</a>
                </ul>
                <ul>
                    <a href="#">Specials</a>
                </ul>
                <ul>
                    <a href="#">Virtual Reality</a>
                </ul>
                <ul>
                    <a href="#">Controller Friendly</a>
                </ul>


                <h6>
                    BROWSE BY GENRE
                </h6>
                <ul>
                    <a href="#">Free to Play</a>
                </ul>
                <ul>
                    <a href="#">Early Access</a>
                </ul>
                <ul>
                    <a href="#">Action</a>
                </ul>
                <ul>
                    <a href="#">Adventure</a>
                </ul>
                <ul>
                    <a href="#">Casual</a>
                </ul>
                <ul>
                    <a href="#">Indie</a>
                </ul>
                <ul>
                    <a href="#">Massively Multiplayer</a>
                </ul>
                <ul>
                    <a href="#">Racing</a>
                </ul>
                <ul>
                    <a href="#">RPG</a>
                </ul>
                <ul>
                    <a href="#">Simulation</a>
                </ul>
                <ul>
                    <a href="#">Sports</a>
                </ul>
                <ul>
                    <a href="#">Strategy</a>
                </ul>

                <h6>
                    RECENTLY VIEWED
                </h6>
                <ul>
                    <a href="#">Battlefield 2042</a>
                </ul>
            </div>
        </div>
    </div>
</div>