
<nav class="navbar bg-dark">
    
    <div class="center-block">
        <a class="navbar-brand" href="#" >
            <img src ="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="" width="180" height="50" class="d-inline-block align-text-top">
        </a>
    
    
    </div>
    <div class="center-block">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" class="nav-link text-white" id="dropdownMenuButton1">  
                STORE
            </a>
            <ul class="dropdown-menu" style="background-color: #141618" >
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Home</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Discovery Queue</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Wishlist</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Points Shop</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">News</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Stats</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" class="nav-link text-white" id="dropdownMenuButton1"  rounterLinkActive="active" routerLink="/steam-community">  
                COMMUNITY
            </a>
        
            <ul class="dropdown-menu" style="background-color: #141618" >
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Home</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Discussions</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Workshop</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Market</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Broadcasts</a>
                </li>
            </ul>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-white" rounterLinkActive="active" routerLink="/steam-about">
                ABOUT
            </a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-white" rounterLinkActive="active" routerLink="/steam-support">
               SUPPORT
           </a>
        </li>
    </ul>
    </div>
    
    
    
    <div>
    <ul class="nav nav-pills" >
        
        <button type="button" class="btn btn-success"> Install Steam</button>
        
        <li class="nav-item" style="vertical-align: top">
            <a class="nav-link text-white" rounterLinkActive="active" routerLink="/steam-login">
                login 
            </a>
        </li>	
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" class="nav-link text-white" id="dropdownMenuButton1">  
                language
            </a>
        
            <ul class="dropdown-menu" style="background-color: #141618" >
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Italiano(Italian)</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Nederlands(Dutch)</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">日本語 (Japanese)</a>
                </li>
            </ul>
        </li>
       
    </ul>
    </div>
    
</nav>


    
