<nav class="navbar navbar-dark" style="background-color: #1c6bc5bb" >
    <ul class="nav" style="color:whitesmoke"> 
        <li class="nav-item dropdown"class="align-middle">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" class="nav-link text-white" id="dropdownMenuButton1">  
                Your Store
            </a>
        
            <ul class="dropdown-menu" style="background-color: #565c63">
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white" >Home</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Community Recommendations</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Recently Viewed</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Steam Curators</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" class="nav-link text-white" id="dropdownMenuButton1">  
                New & Noteworthy
            </a>
        
            <ul class="dropdown-menu" style="background-color: #565c63">
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Top Sellers</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">New and Trending</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Current Specials</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Recently Updated</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Popular Upcoming</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" class="nav-link text-white" id="dropdownMenuButton1">  
               Categories
            </a>
        
            <ul class="dropdown-menu" style="background-color: #565c63">
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Special Sections</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Genres</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Themes</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" class="nav-link text-white">Player Support</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
           <a href = "#" class="nav-link text-white">
               Points Shop
           </a>
        </li>
        <li class="nav-item">
            <a href = "#" class="nav-link text-white">
               News
            </a>
        </li>
        <li class="nav-item">
            <a href = "#" class="nav-link text-white">
                Labs
            </a>
        </li>
        <div class="topnav">
        <input type="text" placeholder="Search..">
        </div>
    </ul>
</nav>